# Main action for Ur

name: "play"

# Run this action whenever an issue is opened
on:
  issues:
    types: [opened]
jobs:
  play:
    runs-on: ubuntu-latest
    # Only do anything if the issue says it's a move
    if: startsWith(github.event.issue.title, 'ur-')
    steps:
      # TODO setup Node
      # Checkout the compiled code
      # I'll probably need to store the results of the main action, checkout
      # master, then make the edits that I need to
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: compiled
      - name: Run script
        uses: actions/github-script@v2
        with:
          script: |
            const path = require('path')
            const scriptPath = path.resolve('./bundle.js')
            const play = require(scriptPath)
            console.log(scriptPath, play, play.default)
            console.log(await play.default("${{ github.event.issue.title}}", github, context, core))
